# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/

# Environment
.env
.env.local
.env.production.local

# Debug
npm-debug.log*

# Vercel
.vercel

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
